@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'DM Sans';
    background: 
    linear-gradient(to bottom, #000, #00000098 25%, transparent),
    linear-gradient(to top, #000, #00000018, transparent),
    url(img/background.png) top center / cover
    ;
}
header {
    width: 100%;
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    padding: 0rem 5rem;
    color: #fff;
    user-select: none;
}
ul {
    list-style-type: none;
    display: flex;
}
li {
    color: #fff;
    text-decoration: underline;
    font-size: 2rem;
}
main {
    width: 100%;
    height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    padding: 0rem 3rem;
}
.oracao {
    width: 30dvw;
    height: 70dvh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    & p {
        text-align: justify;
        text-shadow: 1px 1px 10px #000;
        font-size: 1.1rem;
    }
}
.video {
    width: 70dvw;
}
section {
    width: 100dvw;
    height: 70dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    & h3 {
        font-size: 1.2rem;
    }
}
.video button {
    border: none;
    padding: 1rem;
    border-radius: 20px;
    background: goldenrod;
    font: 600 .9rem 'DM Sans';
    cursor: pointer;
}
#banner iframe {
    max-width: 960px;
    max-height: 540px;
    width: 50dvw;
    height: 60dvh;
    object-fit: cover;
    border-radius: 20px;
    opacity: .7;
    backdrop-filter: blur(50px);
    border: none;
}
::selection {
    background-color: goldenrod;
    color: #000;
}
@media (max-width: 1004px) {
    body {
        font-size: 12px;
    }
    header {
        padding: .5rem;
    }
    li {
        font-size: 1rem;
    }
    main {
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .oracao {
        width: 50dvw;
    }
    .oracao p {
        font-size: 1rem;
    }
    .video {
        height: 100dvh;
        width: 90dvw;
    }
    #banner iframe {
        width: 90dvw;
    }
    li {
        font-size: 1rem;
    }
}
    


